# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
env/
venv/
ENV/
env.bak/
venv.bak/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# PyTorch
*.pth
*.pt
*.ckpt

# Project specific
./outputs/
outputs/**/*.png
!outputs/images/channel-wise-std-histogram.png

*.log

./Results/
./data/
./models/